@import "scss/functions";
@import "scss/variables";
@import "player";

$new-primary: #1ED760;
$new-success: #1ACB98;
$new-warning: #FFAA46;
$new-dark: #313030;

$new-theme-colors: (
  "primary":$new-primary,
  "success":$new-success,
  "warning":$new-warning,
  "grayground": #000000,
  "grayMain": #212121,
  "grayCard" :#2C2C2C,
  "chit":#4498E7,
  "dark":$new-dark,
  "undertitle": #888886,
  "min": #CEC7AD
);

$theme-colors: map-merge($theme-colors, $new-theme-colors);

$new-spacers: (
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  10: $spacer * 8
);

$spacers: map-merge($spacers, $new-spacers);

$new-font-sizes: (
  supersmall: $font-size-base * .6,
  small: $font-size-base * .8,
  7: $font-size-base * 3,
  8: $font-size-base * 3.5,
  9: $font-size-base * 4,
  10: $font-size-base * 4.5,
  11:$font-size-base *0.8,

);

$font-sizes: map-merge($font-sizes, $new-font-sizes);

$new-position-values: (
  0: 0,
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  50: 50%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  100: 100%
);

$position-values: map-merge($position-values, $new-position-values);


@import "scss/variables-dark";
@import "scss/maps";
@import "scss/mixins";
@import "scss/utilities";



$utilities: map-merge($utilities,
    ("width": map-merge(map-get($utilities, "width"),
        (values: map-merge(map-get(map-get($utilities, "width"), "values"),
            (5: 5%,
              7:7%,
              10: 10%,
              15: 15%,
              20: 20%,
              25: 25%,
              30: 30%,
              35: 35%,
              40: 40%,
              45: 45%,
              50: 50%,
              55: 55%,
              60: 60%,
              65: 65%,
              70: 70%,
              75: 75%,
              80: 80%,
              85: 85%,
              90: 90%,
              95: 95%,
              100: 100%,
            ),
          ),
        ),
      ),
    ));


$utilities: map-merge($utilities,
    ("height": map-merge(map-get($utilities, "height"),
        (values: map-merge(map-get(map-get($utilities, "height"), "values"),
            (5: 5%,
              10: 10%,
              15: 15%,
              20: 20%,
              25: 25%,
              30: 30%,
              35: 35%,
              40: 40%,
              45: 45%,
              50: 50%,
              55: 55%,
              60: 60%,
              65: 65%,
              70: 70%,
              75: 75%,
              80: 80%,
              85: 85%,
              90: 90%,
              95: 95%,
              100: 100%,
            ),
          ),
        ),
      ),
    ));

.bg-linear-gradient {
  background: linear-gradient(to right, #000000, #1E1E1E);
}

.position-top-negative {
  top: -35px
}

.position-left-nextIcon {
  left: -25em
}

.radius-top-left {
  border-top-left-radius: 15px;
}

.radius-top-right {
  border-top-right-radius: 15px
}

.radius-bottom-right {
  border-bottom-right-radius: 15px
}

.radius-bottom-left {
  border-bottom-left-radius: 15px
}

.scaleHover {
  transition: transform 0.3s linear 0s, display 0.3s linear 0s;
}

.scaleHover:hover {
  transform: scale(1.05);
  background-color: #313030;
  z-index: 2
}

.scaleHover:hover .card-body {
  display: block !important;

}

.scaleHover:hover .circle-button {
  display: block !important;
}
.scaleHover:hover .circle-button {
  display: block !important;
}

@keyframes slideInTop {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  50% {
    transform: translateY(5px);
    opacity: 0.7;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;

  }
}


.position-relative:hover .circle-button {
  display: block;
  /* Mostra il pulsante */
  animation-name: slideInTop;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  animation-iteration-count: 1;

}


.truncateText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}


@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #252525;
}

#albumdettagli {
  padding-top: 0 !important;
}

.container-fluid {
  background-color: #1E1E1E ; 
}
.artist-img {
  width: 30px; 
  height: 30px; 
  border-radius: 50%;
  object-fit: cover; 
}

.albumHead {
  background: #1E1E1E;
  background: linear-gradient(0deg, #1E1E1E 60%, #DEC04F 100%);
}
.miPiaceHead {
  background: #1E1E1E;
  background: linear-gradient(0deg, #1E1E1E 60%, #49348E 100%);
}
.underTitle{
  color:#888886
}

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 20px;
  background: #313030;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 20px;
  background: #313030;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 20px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid white;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px white;
}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid white;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px white;
}

.selected-title {
  color: #1ED760; 
  font-weight: bold; /* Facoltativo: aggiunge peso al testo */
}

.search-container {
  position: relative;
  width: 100%; /* Assicurati che il contenitore abbia una larghezza specificata o ereditata */
  max-width: 600px; /* Limita la larghezza massima del contenitore, se necessario */
}

.inputSearch {
  width: 40px; /* Larghezza iniziale */
  height: 40px; /* Altezza dell'input */
  border-radius: 20px; /* Cerchio */
  border: 2px solid #888; /* Bordo */
  padding-left: 40px; /* Spazio per l'icona */
  outline: none;
  transition: width 0.8s ease, border-radius 0.8s ease, background-color 0.8s ease; /* Durata aumentata */
  background-color: #1B1B1B; /* Colore di sfondo */
  box-sizing: border-box; /* Include il padding nella larghezza totale */

  &.expanded {
    width: 100%; /* Espande l'input a tutta la larghezza del contenitore */
    border-radius: 10px; /* Riduce il raggio dei bordi */
    border-color: #ccc; /* Cambia il colore del bordo */
  }

  &::placeholder {
    color: #aaa; /* Colore del placeholder */
    transition: opacity 0.8s ease; /* Durata aumentata */
  }

  &:focus::placeholder {
    opacity: 0; /* Nasconde il placeholder quando l'input è in focus */
  }
}

.search-icon {
  position: absolute;
  left: 12px; /* Posizionamento dell'icona all'interno dell'input */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Evita che l'icona sia cliccabile */
  color: #aaa; /* Colore dell'icona */
  font-size: 1.2em; /* Dimensione dell'icona */
}

.scopri {

  .bg-red {
    background-color: #E13300;
  }
  .bg-blue {
    background-color: #1E3264;
  }
  .bg-pink {
    background-color: #E8115C;
  }
  .bg-green {
    background-color: #158A08;
  }
  .bg-brown {
    background-color: #BC5800;
  }
  .bg-violet {
    background-color: #8C67AC;
  }
  .bg-orange {
    background-color: #D84000;
  }
}

// $headings-font-family: "Inter", sans-serif;

@import "scss/bootstrap.scss";